@using BlazorApp1.Client;
@inject LocationService LocationService
@page "/"

<h3>You are here</h3>
<div>
    Lat: @location?.Latitude <br />
    Long: @location?.Longitude <br />
    Accuracy: @location?.Accuracy <br />
    Altitude: @location?.Altitude <br />
    AltitudeAccuracy: @location?.AltitudeAccuracy <br />
    Heading: @location?.Heading <br />
</div>
<div>
    Lat: @watchLoacation?.Latitude <br />
    Long: @watchLoacation?.Longitude <br />
    Accuracy: @watchLoacation?.Accuracy <br />
    Altitude: @watchLoacation?.Altitude <br />
    AltitudeAccuracy: @watchLoacation?.AltitudeAccuracy <br />
    Heading: @watchLoacation?.Heading <br />
</div>
<button class="btn btn-primary" @onclick="WatchLocationClick">Click me</button>

@code {
    private async Task WatchLocationClick()
    {
        await LocationService.WatchLocation(WatchCallBack);
    }

    Location location;
    Location watchLoacation;

    protected override async Task OnInitializedAsync()
    {
        location = await LocationService.GetLocationAsync();

        await base.OnInitializedAsync();
    }

    private void WatchCallBack(Location watchLocation)
    {
        Console.WriteLine($"Check this position: {watchLocation.Latitude} {watchLocation.Longitude}");
        watchLoacation = watchLocation;
        StateHasChanged();
    }
}
