@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService
@page "/"

<h3>You are here</h3>
<div>
Lat: @location?.Latitude <br/>
Long: @location?.Longitude <br />
Accuracy: @location?.Accuracy <br />
</div>

@functions
{
    Location location;
    private string _position = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        location = await LocationService.GetLocationAsync();

        await base.OnInitializedAsync();
    }
}
